/* google font-inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* shared styel  */

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}

.display-hiden{
    display: none;
}
.section-title{
    font-size: 3rem;
    margin-bottom: 38px;
    text-align: center;
    color: white;
 }

.text-color-white{
    color: white;
}

.card-description{
    color: #ffffff;
    line-height: 24px;
    opacity: 60%;
}



.bg-color{
    background-color: #230E3D;
}

/* ======================= main style ===================================*/

.navbar{
   
     background-color: #120b2e;
    
}

.navbar-content{
    /* max-width: 1140px; */
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;

    /* background-color: #412567; */
    padding: 24px;
   
}


.menu{
gap: 32px;
}

.menu li{
    list-style: none;
   
}
.menu li a{
    text-decoration: none;
     color: white;
     line-height: 120%;
}


.menu-btn{
    border-radius: 10000px;
    padding: 12px 16px;
    background: linear-gradient(
        45deg,
     #eebf3e,
     #F107A3,
     #7B2FF7
  );
     cursor: pointer;
}

.menu-btn i {
    margin-left: 4px;
}

.menu-btn:hover{
    color: black;
    background: yellow;
}
.hamburger-menu{
    display: none;
}

  /* ===== mobile responsive ======== */

  @media screen and (max-width: 576px) {

   header{
      width: 100%;
    /* max-width: 100%; */
} 


.navbar{
    
     width: 100%;
    /* max-width: 100%; */
}
    
        .navbar-content {
           
            justify-content:space-between;
            align-items: center;
            /* margin: 0px auto; */

            background-color: #1A0B2E;
            padding: 16px 20px;
           
        }
        .logo{
            width: 137px;
        }
      .navbar .menu, .menu-btn{
         display: none ;

      }
      .hamburger-menu{
        display: inline;
      }
    
  }

/*================================= hero section styles ============================*/


.hero{
   position: relative;
   background-image: url(./hero-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: auto;
    overflow: hidden;
  
}

.hero-circle{

     position: relative;
      width: 350px;
    height: 350px;
}

.hero-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    

    /* max-width: 1200px; */
  /* margin: 0 auto; */
  padding: 120px 0;
}

.hero-circle img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.microphone {
  position: absolute;
  width: 118px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: micBlink 1s infinite alternate;

}


@keyframes micBlink {
  0% {
    filter: brightness(0) saturate(100%);
  }
  100% {
    filter: brightness(1) saturate(100%) hue-rotate(0deg);
    filter: drop-shadow(0 0 8px red);
  }
}

.badge {
  position: absolute;
  width: 80px;

  top: 8px;
  right: 25px;
}

.hero-content {
  max-width: 520px;
  /* color: white; */
}

.hero-content h2 {
    font-size: 4.9rem;
    font-weight: 900;
    color: white;
    margin: 24px 0px;
}

.hero-content p{
    opacity: 80%;
    color: white;
    margin-bottom: 24px;
    opacity: 80%;
}

.btn-container{
    gap: 8px;
    justify-content: center;
    align-items: center;
   
    /* margin-top: 32px ; */
}

.btn-container img {
    width: 20px ;
    height: 20px;
}

.spotify-btn{
    gap: 8px;
    justify-content: center;
    align-items: center;

     border-radius: 10000px;
    cursor: pointer;
    padding: 12px 20px;
     background: linear-gradient(
        45deg,
     #eebf3e,
     #F107A3,
     #7B2FF7
  );
    border: none;
    color: white;
    
}

.spotify-btn:hover{
    color: black;
    background: yellow;
}

.subscribe-btn{
     gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    color: #00FF88;
    border-radius: 10000px;
     cursor: pointer;
     border: 1px solid #00FF88;
     background-color: transparent;
   
}

.subscribe-btn:hover{
     color: black;
    background: yellow;
}


  /* ===== mobile responsive ======== */

  @media screen and (max-width: 576px) {

    
.hero{
    width: 100%;
    /* max-width: 100%; */
   position: relative;
   background-image: url(./hero-bg-mobile.png);
   background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
    min-height: auto;
}

.hero-circle{
     position: relative;
      width: 200px;
    height: 200px;
}

.hero-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
     margin: 0 auto;
     padding: 40px 20px;
 

}

.hero-circle img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.microphone {
  position: absolute;
  width: 60px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.badge {
  position: absolute;
  width: 80px;

  top: -15px;
  right: 10px;
}

.hero-content {
  width: 100%;
    max-width: 100%;
  /* color: white; */
}

.hero-content h2 {
    font-size: 2rem;
    font-weight: 900;
    color: white;
    /* margin: 24px 0px; */
    line-height: 1.2;
}

.btn-container{
    gap: 8px;
    justify-content: center;
    align-items: center;
   
    /* margin-top: 32px ; */
}

.btn-container img {
    width: 20px ;
    height: 20px;
}



  }
/* ============= about section ============== */

.about{
   background-color: #1A0B2E;
   /* padding: 50px 200px 120px; */
    padding: 120px 20px;
   text-align: center;
   /* display: none; */
}

.about-content{
    max-width: 1200px;
    margin: 0px auto;
    flex-direction: column;
}

.about-title{
    font-size: 3rem;
    margin-bottom: 16px;
    color: white;
}

.horizontal{
    color: #FFFFFF;
    opacity: 10%;
    
    
}
.about-description, .bottom-description, .stat-label{
    font-size: 1rem;
    opacity: 80%;
    color: white;
    line-height: 20px;
    margin-bottom: 35px;
}

.stat-label{
    text-transform: uppercase;
     margin-bottom: 0px;
}

.about-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: space-between; */
    margin-top: 35px;
    text-align: center;
}
.about-cards .card{
    /* border: 1px solid red; */
    /* width: 240px; */
     width: 100%;
}
.card-number{
    color: #00FF88;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 24px;
}


  @media screen and (max-width: 576px) {
    
.about{
    width: 100%;
   background-color: #1A0B2E;
   /* padding: 50px 200px 120px 200px; */
    padding: 40px 20px;
   text-align: center;
}

.about-content{
    max-width: 100%;
     width: 100%;
      padding: 0 16px; 
    /* margin: 0px auto; */
    flex-direction: column;
}

.about-title{
    font-size: 2rem;
    /* margin-bottom: 16px; */
    color: white;
}

.horizontal{
    color: #FFFFFF;
    opacity: 10%;
    
    
}
.about-description, .bottom-description, .stat-label{
    font-size: 1rem;
    opacity: 80%;
    color: white;
    line-height: 20px;
    /* margin-bottom: 35px; */
}

.stat-label{
    text-transform: uppercase;
     /* margin-bottom: 0px; */
}

.about-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     gap: 16px;
    /* justify-content: space-between; */
    /* margin-top: 35px; */
    text-align: center;
}
.about-cards .card{
    /* border: 1px solid red; */
     width: 100%;
}
.card-number{
    color: #00FF88;
    font-size: 3rem;
    font-weight: bold;
    /* margin-bottom: 24px; */
}


  }

 /* =============================== why-choose section ======================================== */

 .why-choose{
    padding: 120px 200px;
 }


 .choose-cards-container{
      max-width: 1200px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
     margin: 0 auto;

 }



 .choose-cards-container .card-1{
    grid-row: span 2;
    gap: 16px;
    flex-direction: column;
    border-radius: 40px;
    background-color: #35116562;
    padding: 40px;
 }

  .choose-cards-container .card-2{
    grid-column: span 2;
    gap: 16px;
    flex-direction: column;
    border-radius: 40px;
    background-color: #35116562;
    padding: 40px;
  }

   .choose-cards-container .card-5{
    grid-column: span 1;
    gap: 16px;
    flex-direction: column;
    border-radius: 40px;
    background-color: #35116562;
    padding: 40px;
  }

  .card-title{
    color: white;
    font-size: 1.5rem;
     margin-bottom: 16px;

  }

  .choose-card-image{
    width: 60px;
    height: 60px;
     margin-bottom: 16px;
  }

@media screen and (max-width: 576px) {
    
 .why-choose{
    /* padding: 120px 200px; */
    padding: 40px 20px;
     max-width: 100%;
     width: 100%;
 }


 .choose-cards-container{
       max-width: 100%;
     width: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

 }


.section-title{
    font-size: 32px;

}
 .choose-cards-container .card-1{
    grid-row: span 1;
    gap: 16px;
    flex-direction: column;
    border-radius: 40px;
    background-color: #35116562;
    padding: 24px;
 }

  .choose-cards-container .card-2{
    grid-column: span 1;
    gap: 16px;
    flex-direction: column;
    border-radius: 40px;
    background-color: #35116562;
    padding: 24px;
  }

   .choose-cards-container .card-5{
    grid-column: span 1;
    gap: 16px;
    flex-direction: column;
    border-radius: 40px;
    background-color: #35116562;
    padding: 24px;
  }

  .card-title{
    color: white;
    font-size: 1.5rem;
     margin-bottom: 16px;

  }

  .choose-card-image{
    width: 60px;
    height: 60px;
     margin-bottom: 16px;
  }
}

  /* ============================== Featured-Episodes section ========================== */

  .Featured-Episodes{
    /* max-width: 1600px; */
    padding: 120px 200px;
    background-color: #1A0B2E;
  }

.Featured-cards-container{
    max-width: 1200px;
    gap: 30px;
    margin: 0 auto;
}

.Featured-card-content{
    padding: 24px;
}
.Featured-card{
    background-color: #250D44;
    border-radius: 24px ;
}

.Featured-card-image{
    width: 100%;
}

.doration{
    margin-top: 12px;
    gap: 8px;
    color:#00FF88;
    
}


.host-meet{
     /* max-width: 1200px; */
    margin-top: 120px;
    color:#00FF88;
   
}
.host-details{
    gap: 24px;
     padding: 40px;
    border-radius: 24px;
    background-color: #3511654f;
}

.host-name{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.social-icons{
    gap: 8px;
    align-items: center;
}

.icon-box{
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.096) ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.icon-box img{
    width: 22px;
    height: 22px;
}

.host-experience{
    margin-bottom: 16px;
}

@media screen and (max-width: 576px) {
    
  .Featured-Episodes{
     padding: 40px 20px;
     max-width: 100%;
     width: 100%;
  }

.Featured-cards-container{
    max-width: 1200px;
    gap: 16px;
    margin: 0 auto;
    flex-direction: column;
}

.Featured-card-content{
    padding: 16px;
      background-color: #250D44;
}
.Featured-card{
  
    border-radius: 24px ;
}

.Featured-card-image{
    width: 100%;
}

.doration{
    margin-top: 8px;
    gap: 6px;
    color:#00FF88;
    
}


.host-meet{
     /* max-width: 1200px; */
    margin-top: 120px;
    color:#00FF88;
   
}

.section-title{
    font-size: 32px;

}
.host-details{
    gap: 24px;
     padding: 40px;
    border-radius: 24px;
    background-color: #3511654f;
    flex-direction: column;
    text-align: center;
}

.host-name{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

.social-icons{
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.icon-box{
    width: 44px;
    height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.096) ;
    border-radius: 50%;
    /* padding: 20px; */
   
}

.icon-box img{
     width: 20px;
    height: 20px;
}
.host-experience{
    margin-bottom: 16px;
}

}

  /* ============================== footer section ========================== */

  footer{
    background-image: url(./footer-bg.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     min-height: max-content;
  }

  .footer-content{
    max-width: 1360px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 38px;
    padding: 120px 80px;
    margin: 0 auto;
  }

  .footer-icons{
    justify-content: space-between;
    gap: 24px;
   
  }

  
.footer-logo-mobile{
    display: none;
}

.footer-icons p{
    color:#FFFFFF;
    opacity: 60%;
}

  .icon-4{
    gap: 8px;
  }

  .copyright{
    color:#FFFFFF;
    opacity: 60%;
  }


  @media screen and (max-width: 576px) {
     footer{
    background-image: url(./footer-bg-mobile.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     min-height: auto;
     /* width: 100%;
     max-width: 100%; */
      padding: 40px 20px;
  }

  
  .footer-content{
    /* width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    */
     justify-content: center;
    align-items: center;
    
     padding: 16px;
    gap: 24px;
     margin: 0 auto;
  }


  .footer-icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     justify-items: center;
     align-items: center;
     gap: 12px;
    
  }
 

  .footer-logo-mobile{
    display: flex;
    width: 210px;
}

.footer-logo{
    display: none;
}

.footer-icons p{
    color:#FFFFFF;
    opacity: 60%;
      font-size: 14px;
    /* line-height: 22px; */
    text-align: center;
   
}

  .icon-4{
    gap: 8px;
  }

  .copyright{
    color:#FFFFFF;
    opacity: 60%;
     font-size: 14px;
    line-height: 22px;
    text-align: center;
  }


  }